/*Start global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #eee;
}

body {
  width: 100%;
  height: 100;
  background: url("images/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
}
.section {
  padding: 6rem;
}

a {
  text-decoration: none;
  color: #eee;
}
p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
  z-index: -1;
}
/*End global*/

/*Start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.seaction-heading {
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 2rem;
}
.seaction-heading h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}
.seaction-heading h1::before,
.seaction-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}
.seaction-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}
.seaction-heading h1::after {
  width: 1.5rem;
  height: 1.5px;
  border-radius: 100%;
  bottom: -1rem;
}
.seaction-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}
.has-margin-right {
  margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header {
  width: 100%;
  height: 100vh;
}

.nav-list,
.nav-list1 {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin: 0 2rem;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}

.landing-text h1 {
  z-index: -1;
  font-size: 6rem;
  font-family: cursive;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
}
/*End header*/

/*Start about*/

.about .container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.about-heading {
  text-align: center;
  text-transform: none;
  line-height: 0;
  margin-bottom: 6rem;
}
.about-heading h1 {
  margin-top: 3rem;
  font-size: 5rem;
  opacity: 0.2;
}
.about-heading h5 {
  text-transform: uppercase;
  color: linear-gradient(to top, #ffe838, #fd57bf);
  font-size: 3rem;
  margin-top: 0.5rem;
  font-size: 200;
  opacity: 0.9;
}
.profile-img {
  flex: 1;
  margin-right: 5rem;
  text-align: center;
}
.profile-img img {
  border-radius: 50%;
}
.about-details {
  flex: 1;
}
.social-media1 {
  margin-top: 5rem;
}
.social-media1 i {
  font-size: 3rem;
  transition: color 650ms;
  margin-bottom: 10rem;
}
.fa-facebook:hover {
  color: #4267b2;
}
.fa-twitter:hover {
  color: #4267b2;
}
.fa-linkedin:hover {
  color: #4267b2;
}
.fa-github:hover {
  color: #4267b2;
}
/*End about*/

/*Start services*/

.my-skill {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  align-items: center;
  text-align: center;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 2px solid #808080;
}
.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}
.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid #f3f3f2;
  background-color: #fd57bf;
  display: flex;
  margin-bottom: 2rem;
  transform: rotate(45deg);
}

.icon-container i {
  color: #ffe838;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}
.skill p {
  padding: 1rem;
}
.skill h1 {
  background: linear-gradient(to top, #ffe838, #fd57bf);
  font-size: 1.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*End services*/

/*Start portfolio*/
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.portfolio-item:last-child {
  margin-bottom: 0;
}

.porfile-image {
  flex: 1;
  width: 60rem;
}
.porfile-image img {
  border-radius: 0.5rem;
}
.portfolio-description {
  flex: 1;
}

.portfolio-description h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.5;
}

.portfolio-description .cta {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  color: #3883ff;
  text-transform: uppercase;
  transition: color 650ms;
}

.portfolio-description .cta:hover {
  color: rgb(231, 58, 101);
}

/*End services*/

/*Start timeline*/
.timeline {
  border-left: 4px solid #ffe838;
  border-radius: 0.8rem;
  background-color: rgna(0, 0, 0, 0.05);
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 80%;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.timeline ul {
  list-style: none;
}
.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-size: 300;
  margin-bottom: 1rem;
  opacity: 0.4;
}

.timeline .data {
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .data:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .data::before,
.timeline .data::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.timeline .data::before {
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.timeline .data::after {
  content: "";
  box-shadow: 0 0 0 4px #fd57bf;
  border-radius: 50%;
  left: -7.7rem;
  height: 1rem;
  width: 1rem;
  background-color: #313534;
}
/*End timeline*/

/*Start contact*/
.contact {
  background-color: #221e3f;
}
form {
  width: 70%;
  margin: 0 auto;
}
form label {
  font-size: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border: none;
  outline-color: #fd57bf;
}

input[type="submit"] {
  width: initial;
  background-color: #41e;
  border: none;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 650ms;
}
input[type="submit"]:hover {
  color: #221e3f;
  background-color: cadetblue;
}
/*End contact*/

/*Start footer*/
.copyright {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}
.up {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  /* animation: pulse  2s infinite; */
  cursor: progress;
}

.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
  margin-top: 0.5rem;
}

.icon-container p {
  font-size: 1.4rem;
}
/*End footer*/

/*Start animations*/
/* @keyframes pulse {
  0% {
      box-shadow: 0 0 0 0 rgba(224, 44, 158, 0.99);
  }
  70% {
    box-shadow: 0 0 0 0 rgba(224, 59, 164, 0.99);

  }

  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);

  }
} */
/*End animations*/

/*Start media queries*/

@media (max-width: 768px) {
  body {
    background: url("images/sitebg2.jpg") no-repeat center fixed;
    background-size: cover;
  }
  .landing-text h1 {
    font-size: 4rem;
  }
  .nav-list {
    flex-direction: column;
    font-family: cursive;
  }
  li {
    margin: 2rem 0;
  }
  .menu-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    z-index: 1;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: tranform 650ms ease;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .about-heading h1 {
    font-size: 6rem;
  }
  .seaction-heading h1 {
    font-size: 2rem;
  }

  .about .container {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 0 7rem 0;
  }
  .about-details .nav-list1 {
    flex-direction: initial;
  }
  .about-details li {
    margin: 0 2rem;
  }

  .profile-img {
    margin: 0 0 7rem 0;
  }
  .portfolio-item{
    flex-direction: column;
  }
  .porfile-image{
    margin: 0 0 2rem 0;
    width: 50rem;
    order: 1;
  }
 
  .portfolio-description{
    margin: 0;
    order: 2;
  }

  .timeline ul {
    margin: 0 0 0 auto;
  }
  .timeline .data::before {
    left: -20rem;
  }
  .timeline .data::after {
    left: -5.9rem;
  }
}

@media (max-width: 600px) {
  .menu-toggler {
    top: 1rem;
    right: 1rem;
  }
  .landing-text h1 {
    font-size: 3rem;
  }
  .landing-text h6 {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 2rem;
  }
  .profile-img {
    margin: 0 0 7rem 0;
  }
  .portfolio-item{
    flex-direction: column;
  }
  .porfile-image{
    margin: 0 0 2rem 0;
    width: 40rem;
    order: 1;
  }
 
  .portfolio-description{
    margin: 0;
    order: 2;
  }

  .timeline li{
    font-size:1.6rem;
  }
  .timeline .data::before{
    font-size: 1.2rem;
  }

}
/*End media queries*/
